<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud application</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">

</head>

<body>
    <div class="container mt-5">

        <h2 class="navbar navbar-expand-lg bg-light">Function Based view ModelForm CRUD project</h2>

        {% block content %}
        this is also function based view
        {% endblock content %}

    </div>
    <script src="{%static 'enroll/js/jquery.js' %}"></script>
    <script src="{%static 'enroll/js/bootstrap.js' %}"></script>
    <script src="{%static 'enroll/js/popper.js' %}"></script>
</body>

</html>